#stock-table {
  font-family: 'Times New Roman', serif;
  border-collapse: collapse;
  width: 50%;
}

td,th {
  border: 2px solid black;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

td,thead tr th {
  text-align: center;
  vertical-align: middle;
}

thead tr th .up_arrow, thead tr th .down_arrow{
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  font-size: 0;
  line-height: 0;
  float: right;
}

thead tr th .up_arrow{
  border-bottom: 10px solid green;
}
thead tr th .down_arrow{
  border-top: 10px solid red;
}